*{
    margin: 0;
    padding: 0;
}

/* 

    PX => fixo 

    relativos a alguma coisa  (se adapta)

    - View Port : 

        - Altura  => Height => vH => eixo y => vertical
        - Largura => Width  => vw => eixo x => horizontal

    - Fonte :

        - EM : Fonte atual => 2em => 2x o tamanho da fonte atual
        - Rem : Raiz documento => 2 rem => 2 x tamanho da fonte raiz da pagina 

*/


header{
    background-color: lightcoral;
    height: 20vh;
    max-width: 50vw;
    min-height: 10vw ;
    margin: 0px 2px 40px 10px;
}

header img{
    width: 60px;
    margin-left: 70vw;
}

nav{
    background-color: lightskyblue;
    height: 15vh;
    text-align: center;
}

article{
    background-color: lightseagreen;
    height: 30vh;
    width: 40vw;
}

article h2

aside{
    background-color: lightpink;
    height: 25vh;
}

footer{
    background-color: lightslategray;
    height: 20vh;
}