img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.container {
  position: relative;
}

.black-box {
  position: relative;
  z-index: 2;
  border: 2px solid black;
  height: 100px;
  margin: 30px;
}

.gray-box {
  position: absolute;
  z-index: 3; /* caixa cinza estará acima da caixa verde e preta */
  background: lightgray;
  height: 60px;
  width: 70%;
  left: 50px;
  top: 50px;
}

.green-box {
  position: absolute;
  z-index: 3; /* caixa verde estará acima da caixa preta */
  background: lightgreen;
  width: 35%;
  left: 270px;
  top: -15px;
  height: 100px;
}
